<div class="field">
  <label>E-mail</label>
  <input type="text" ng-model="customer.email" name="email" placeholder="someone@example.com">
</div>
<div class="field">
  <label>Name</label>
  <div class="two fields">
    <div class="field">
      <input type="text" ng-model="customer.firstname" name="first-name" placeholder="First Name">
    </div>
    <div class="field">
      <input type="text" ng-model="customer.lastname" name="last-name" placeholder="Last Name">
    </div>
  </div>
</div>
<div class="field">
  <label>Phone Number</label>
  <input type="text" ng-model="customer.phonenumber" name="phone-number" placeholder="(xxx)-xxx-xxxx">
</div>
<div class="field">
  <label>Address</label>
  <div class="fields">
    <div class="ten wide field">
      <input type="text" ng-model="address.street" name="address-1" placeholder="Street Address">
    </div>
    <div class="six wide field">
      <input type="text" ng-model="address.number" name="address-2" placeholder="Apt #">
    </div>
  </div>
</div>
<div class="three fields">
  <div class="six wide field">
    <label>City</label>
    <input type="text" ng-model="address.city" name="city" placeholder="City">
  </div>
  <div class="six wide field">
    <label>State</label>
    <input type="text" ng-model="address.state" name="state" placeholder="State">
  </div>
  <div class="four wide field">
    <label>ZIP Code</label>
    <input type="text" ng-model="address.zipcode" name="zipcode" placeholder="ZIP Code">
  </div>
</div>
<button class="ui button" type="submit">Submit</button>
