<div class="ui text container">
  <div ng-include="'partials/searchbar.html'"></div>
  <div class="ui header">
    <h1 class="center">Hi {{ current_user.first_name }}!</h1>
  </div>

  <div class="ui accordion">
    <div ng-repeat="franchise in content">
    <div class="title">
      <i class="dropdown icon"></i>
      {{ franchise.name }}
    </div>
    <div class="content">
      <div class="transition hidden" ng-repeat="series in franchise.series">
        <h3 class="ui header">{{ series.name }}</h4>
        <div ng-repeat="episode in series.episodes">
          <p>{{ episode.name }}</p>
        </div>
        <br>
      </div>
    </div>
    </div>
  </div>
</div>
