<div class="ui text container">
  <div ng-include="'partials/navbar.html'"></div>
  <div class="ui header">
    <h1 class="center">Edit Customer</h1>
  </div>
  <form name="customerEditForm" class="ui form" ng-submit="updateCustomer()">
    <div class="field">
      <label>E-mail</label>
      <input type="text" id="email" ng-model="customer.items[0].email" name="email" placeholder="someone@example.com" readonly>
    </div>
    <div class="field">
      <label>Name</label>
      <div class="two fields">
        <div class="field">
          <input type="text" id="firstname" ng-model="customer.items[0].firstname" name="first-name" placeholder="First Name">
        </div>
        <div class="field">
          <input type="text" id="lastname" ng-model="customer.items[0].lastname" name="last-name" placeholder="Last Name">
        </div>
      </div>
    </div>
    <div class="field">
      <label>Phone Number</label>
      <input type="text" id="phonenumber" ng-model="customer.items[0].phonenumber" name="phone-number" placeholder="(xxx)-xxx-xxxx">
    </div>
    <div class="field">
      <label>Address</label>
      <div class="fields">
        <div class="ten wide field">
          <input type="text" id="address-1" ng-model="address.items[0].line1" name="address-1" placeholder="Street Address">
        </div>
        <div class="six wide field">
          <input type="text" id="address-2" ng-model="address.items[0].line2" name="address-2" placeholder="Apt #">
        </div>
      </div>
    </div>
    <div class="three fields">
      <div class="six wide field">
        <label>City</label>
        <input type="text" id="city" ng-model="address.items[0].city" name="city" placeholder="City">
      </div>
      <div class="six wide field">
        <label>State</label>
        <input type="text" id="state" ng-model="address.items[0].state" name="state" placeholder="State">
      </div>
      <div class="four wide field">
        <label>ZIP Code</label>
        <input type="text" id="zipcode" ng-model="address.items[0].zipcode" name="zipcode" placeholder="ZIP Code">
      </div>
    </div>
    <button class="ui button" type="submit">Submit</button>
  </form>
</div>
