<div class="ui secondary blue pointing menu">
  <div class="ui transparent icon input">
    <input type="text" placeholder="Search...">
    <i class="search link icon"></i>
  </div>
  <script src = "js/FacebookAuth.js"> </script>    
  <div class="right menu">
    <a ui-sref="contentBrowser" class="ui item">
      Browse
    </a>
    <a ui-sref="editCustomer({email: current_user.email})" class="ui item">
      Settings
    </a>
    <a class="ui item" onclick="myFacebookLogout();">
      Logout
    </a>
  </div>
</div>
